alembic==1.6.5
attrs==21.2.0
click==8.0.1
flake8==3.9.2
Flask==2.0.1
flask-expects-json==1.5.0
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
greenlet==1.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
Mako==1.1.4
MarkupSafe==2.0.1
marshmallow==3.12.2
mccabe==0.6.1
pkg-resources==0.0.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyrsistent==0.18.0
python-dateutil==2.8.1
python-dotenv==0.18.0
python-editor==1.0.4
six==1.16.0
SQLAlchemy==1.4.20
SQLAlchemy-Utils==0.37.8
Werkzeug==2.0.1
